@media print {
  body * {
    visibility: hidden;
  }
  .printable, .printable * {
    visibility: visible;
  }
  .printable {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
  }
  .receipt {
    padding: 10px;
    border: 1px dashed #333;
  }
}
